---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Gallery">
  <!-- <div class="text-2xl py-6">
    Samaya Cullerton, LAc, MTCM Traditional Family Medicine
  </div> -->

  <!-- Add a button to trigger Cal.com scheduler -->

  <div class="rounded-xl opacity-50 bg-brand-accent p-4 my-6 h-128 w-96"></div>

  <iframe
    frameborder="0"
    height="28"
    scrolling="no"
    src="https://wmc.janeapp.com/embed/book_online"
    width="177"></iframe>
</Layout>
